---
---
// def.reyssi.net
// Base SASS Stylesheet

$font-stack: 'Source Sans Pro', sans-serif
$primary-color: #2f2f2f

$logo-font: 'Merriweather', serif

$fixed-width-font: 'Inconsolata'

// Body

body
  font: 100% $font-stack
  color: $primary-color
  background-color: #f5f5f5

// Header

header.main
  background-color: #000
  overflow: auto
  width: 50%
  padding: 0% 25%

header.main hgroup
  font: 20pt $logo-font
  font-weight: 300
  color: #efefef
  padding: 10px 0
  margin: 0 0
  float: left

header.main a
  color: #efefef
  text-decoration: none

header.main nav.pages a
  font: 13pt $font-stack
  font-weight: 300
  display: block
  padding: 5px 12px
  color: #e0e0e0
  

header.main nav.pages ul
  list-style-type: none
  padding: 10px 10px

header.main nav.pages ul li
  float: left

// Footer

footer
  width: 50%
  padding: 100px 25%
  margin: 125px 0px 0px 0px
  overflow: auto
  background-color: #e6e6e6

footer div
  font: 10pt $font-stack
  font-weight: 400
  color: #a0a0a0

footer div.proudly_chicago
  float: right
  text-align: center

footer div.copyright
  float: left

footer div.proudly_chicago span.in_chicago
  background-image: url("/assets/images/chicago-flag-bw-400.png")
  background-repeat: none
  background-position: top center
  background-size: 100% 100%
  display: block
  width: 80px
  height: 0px
  padding-top: 37px
  margin: 10px 0px
  overflow: hidden
  position: relative

footer div.proudly_chicago span.in_chicago:hover
  background-image: url("/assets/images/chicago-flag-color-400.png")

// Image

img
  width: 100%

// Article

article
  overflow: auto

article header
  overflow: auto
  width: 50%
  padding: 30px 25%

article header h1
  font: 44pt $font-stack
  font-weight: 200
  text-align: center
  letter-spacing: -0.01em
  padding: 50px 0px

article header h1 a
  text-decoration: none
  color: #000
  background: none
  border: none

article header h2
  text-align: center
  font-weight: 600
  font: 12pt $font-stack
  text-transform: uppercase
  border-bottom: none
  margin: 0px 0px

article header time
  display: block
  width: 100%
  font: 10pt $font-stack
  font-weight: 400
  color: #a99
  text-align: center
  padding: 20px 0px 60px 0px
  word-spacing: 0.3em
  text-transform: uppercase

article p
  font: 12.5pt $logo-font
  font-weight: 300
  color: #202020
  padding: 1.75em 25%
  line-height: 1.6em
  letter-spacing: 0.02em
  width: 50%

article p em
  font-style: italic
  font-weight: 300
  color: #1a1a1a

article a
  text-decoration: none
  color: #49689C
  border-bottom: 1px dotted #49689C
  background-color: #ecf1f9

article ol
  list-style-position: outside
  list-style-type: lower-roman
  width: 50%
  padding: 25px 25% 25px 25%

article ul
  list-style-position: outside
  list-style-type: square
  width: 50%
  padding: 25px 25% 25px 25%

article ul li, article ol li
  width: 90%
  padding: 10px 5% 10px 5%
  font: 13pt $logo-font
  font-weight: 300
  color: #333

article ul p, article ol p
  width: 100%
  padding: 0% 0%

article blockquote
  width: 40%
  padding: 10px 30% 10px 30%
  font: 15pt $logo-font
  font-weight: 300
  font-style: italic
  line-height: 1.5em
  color: #0A6E61

article blockquote:before
  content: "\201C "
  color: #999
  font-size: 1.35em

article blockquote:after
  content: " \201D"
  color: #999
  font-size: 1.35em

article h2
  width: 50%
  padding: 10px 25%
  margin: 50px 0px
  font: 26pt $font-stack
  font-weight: 300
  color: #222
  border-bottom: 1px dotted #222

article pre
  background-color: #ececec
  font: 12pt $fixed-width-font
  padding: 40px 25% 40px 25%
  width: 50%
  border-bottom: 1px dotted #ddd
  border-top: 1px dotted #fff

article h3
  font: 14pt $font-stack
  font-weight: 300
  text-transform: lowercase
  color: #B07319
  width: 50%
  padding: 10px 25%

article p code, article ul code, article li code
  font: 14pt $fixed-width-font
  color: #444
  background-color: #e5e5e5
