<title>
{{site.title}}
{% if page.title %}
- {{page.title}}
{% endif %}
</title>
<meta charset="{{site.encoding}}" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' rel='stylesheet' type='text/css' />
